@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
    overflow-x: hidden;
}

/* All containers */

#header-info{
    padding: 20px;
    height: auto;
}


/* Header Section */

#header-info{
    height: 280px;
    display: flex;
    justify-content: center;
}

.profile{
    margin-top: 10px;
    text-align: center;
    width: 200px;
}

.profile h1{
    font-size: 20px;
}


/* All headings */

.heading{
    margin: 0 auto;
    text-align: center;
}

.heading h2{
    width: 400px;
    text-transform: uppercase;
    margin: 20px auto 20px auto;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

/* Navigation section */

#navigation{
    font-weight: 700;
    text-transform: uppercase;
}

 
#navbarCollapse li{
    padding-right: .7rem;
}

#navigation .navbar-nav .nav-link:hover{
    border-bottom: 2px solid #d4d4d4;
    color: #d4d4d4;
}

.carousel-caption{
    position: absolute;
    top: 40%;
    text-transform: uppercase;
}

.carousel-caption h1{
    padding-bottom: 20px;
    font-size: 4rem;
    font-weight: 700;
}

/* timeline */

.main-timeline{
    padding-top: 50px;
    overflow: hidden;
    position: relative;
}

.main-timeline:before{
    content: "";
    width: 7px;
    height: 100px;
    background: #084772;
    margin: 0 auto;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
}

.main-timeline .timeline{
    width: 50%;
    float: left;
    padding: 20px 60px;
    border-top: 7px solid #084772;
    border-right: 7px solid #084772;
    border-radius: 0 30px 0 0;
    position: relative;
    right: -3.5px;

}

.main-timeline .icon{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: #e84c47;
    border: 1px solid white;
    text-align: center;
    font-size: 25px;
    color: white;
    box-shadow: 0 0 0 2px #e84c47;
    position: absolute;
    top: -30px;
    left: 0;
}

.main-timeline .timeline-content{
    display: block;
    padding: 30px 10px 10px;
    border-radius: 20px;
    background: #e84c47;
    color: white;
    position: relative;
}

.main-timeline .timeline-content:hover{
    text-decoration: none;
    color: white;
}

.main-timeline .timeline-content::before,.main-timeline .timeline-content::after{
    content: "";
    display: block;
    width: 10px;
    height: 50px;
    border-radius: 10px;
    background: #e84c47;
    border: 1px solid white;
    position: absolute;
    top: -35px;
    left: 50px;
}

.main-timeline .timeline-content::after{
    left: auto;
    right: 50px;   
}

.main-timeline .title{
    font-size: 24px;
    margin: 0;
}
.main-timeline .description{
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}

.main-timeline .timeline:nth-child(2n){
    border-left: 7px solid #084772;
    border-right: none;
    border-radius: 30px 0 0 0;
    left: -3.5px;
    right: auto;
}

.main-timeline .timeline:nth-child(2n).icon{
    left: auto;
    right: 0;
}

.main-timeline .timeline:nth-child(2){
    margin-top: 130px;
}

.main-timeline .timeline:nth-child(odd){
    margin: -130px 0 30px 0;
    
}

.main-timeline .timeline:nth-child(even){
    margin-bottom: 80px;
}

/* Timeline */

.timeline{
    padding: 30px 30px;
    position: relative;
    list-style: none;
}

.timeline::before{
    content: "";
    top: 0;
    bottom: 0;
    position: absolute;
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}

.timeline > li{
    margin-bottom: 20px;
    position: relative;
}

.timeline > li::after{
    clear: both;
}

.timeline > li::before, .timeline > li::after{
    content: "";
    display: table;
}

.timeline li .timeline-badge{
    color: #d82c2e;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left:50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}

.timeline-panel-container{
    width: 50%;
    float: left;
}

.timeline-panel-container-inverted{
    width: 50%;
    float: right;
}

.timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background: #fff;
}

.timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;

}

.timeline-panel::after{
    content: " ";
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
}

.timeline-panel-container-inverted .timeline-panel::after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-heading h3{
    margin-top: 5px;
    font-size:30px;
}

.timeline-heading h4{
    color:#d82c2e;
}

.change-width{
    font-size: 2.70vh;
}

/* Portfolio section */

#projects {
    margin-bottom: 10%;
}

.portfolio {
    overflow: hidden;
}
.portfolio img{
    max-width: 100%;
    transition: transform .5s ease;
}

.row.no-padding{
    margin-top: 5%;
}
.row.no-padding [class*=col-]{
    padding: 0;
}

.portfolio img:hover{
    transform: scale(1.1);
    cursor: zoom-in;
}


/* Education Section */

#education{
    height: auto;
    padding-bottom: 50px;
}

#education .education-info{
    max-width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 9px 1px darkgray;
    margin-bottom: 30px;
}

#education .education-info img{
    min-height: 100%;
}
/* Skills Section */

#skills{
    margin-bottom: 10%;
}

#skills .heading{
    margin-bottom: 50px;
}

#skills .skills-content{
    display: flex;
    justify-content: space-around;
    height: auto;
    margin-bottom: 40px;
}

#skills .skills-content .front-end-skill{
    height: auto;
    text-align: center;
}

#skills .skills-content .front-end-skill h3{
    
    font-size: 3em;
    padding: 10px;
}
 
#skills .skills-content .front-end-skill img{
    width: 100%;
    height: 100%;
}

.postgres{
    font-size: 15px;
}


/* footer  */

footer{
    height: auto;
    
}

footer .footer-contact{
    padding-bottom: 20px;
    
}

.contact-detail{
    margin-top: 20px;
    margin-left: 50px;
    
}

.contact-detail h2{
    font-size: 3em;
    color:white;
}

.contact-detail ul{
    list-style: none;
    line-height: 2rem;
}

.contact-detail ul li{
    color: white;
}

.location-details{
    margin-top: 20px;
    margin-left: 30px;
    text-align: center;
}

.location-details h2{
    font-size: 3em;
    color:white;
}

.footer-contact .copy-right{
    margin: 50px auto 0 auto;
    text-align: center;
}

.footer-contact .copy-right p{
    color: #d4d4d4;
}
